<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
html {
    }
body{
    background-color: rgb(252, 244, 244);
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    }
.round-border {
    border-radius:40%;
    border-width: 3px;
    }
.Raleway-font{
    font-family: Raleway, monospace;
    font-size: 25 px;
    }
.nav-github{
    }
.nav-LinkedIn{
    }
.nav-resume{
    }
.nav-email{
    }
.nav-github:hover, .nav-LinkedIn:hover, .nav-resume:hover, .nav-email:hover {
    color: grey
    }
.footer-style{
    font-size: 10 px;
    position: absolute;
    }
