html {
	background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
	background-attachment: fixed;
	background-repeat: no-repeat;
    }
.layout{
    flex-flow: column;
    text-align: center;
    height: 100%;
}
body{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-content: center;
    align-items: center;	
	    max-width: 100%;
	    max-height: 100%;
    margin: 0px;
    }
header{
    text-align:center;
    font-size: 3rem;
    font-weight: bold;
    }
.job-title{
	font-size: 1.5rem;
	margin: 0px;
    }
.skills-title{
	text-decoration:underline;
	font-weight:bold;
 }
.skills>li {
     list-style-type:none;
     display: inline-flex;
     margin: 0.7rem;
     padding: 0.5rem;
     background-color: hsl(240, 100%, 90%, 0.7);
     border-radius: 10px;
    }
/* .software {
    }  */
.contact>div {
	display: inline-flex;
	flex-flow: row wrap;
	margin: 1rem;
	padding-bottom: 2.5rem;
    }
.about-me {
    margin: 1.6rem;
    }
.about-me-text{
    text-align: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
	}
.round-border {
    border-radius:40%;
    border-width: 0.19rem;
    }
.Raleway-font{
    font-family: Raleway, monospace;
    font-size: 1.5625rem;
    }
a{
     color: inherit;
     text-decoration:none;
    }
a:hover{
    color: rgb(89, 122, 124);
    }
div.software:first-line, div.contact:first-line {
    text-decoration: underline;
    font-weight: bold;
	}
.footer-style{
    padding-bottom: 1rem;
    }
@media screen and (max-width: 1024px) {
	.about-me-text {
		max-width: 40%;
	}
