/* src/components/HoverVideo.css */
.hover-video {
  display: inline-block;
  transition:
    transform 0.3s ease,
    border 0.3s ease;
  clip-path: inset(45px 0 45px 0);
}

.hover-video video {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.hover-video:hover {
  transform: scale(1.35);
  /* Slightly enlarge the video */
}
